PORT=5000
MONGO_URI=mongodb+srv://kumaranikant24_db_user:stock12@@cluster0.vayz7k9.mongodb.net/?appName=Cluster0
JWT_SECRET=3817242e2dc4e1d40aac9801c187bd405737bfdfb022b42fd2d7233e45f541e4
STOCK_API_KEY=your-finnhub-api-key
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM=your-email@gmail.com
TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_FROM_NUMBER=+1234567890
